.not-found {
    background-color: #202020;
    color: #ffffff;
    padding: 329px 10px 30px;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    .not-found {
        padding: 408px 184px 222px;
    }
}

@media screen and (min-width: 1280px) {
    .not-found {
        padding: 246px 440px 60px;
    }
}

.not-found__title {
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .not-found__title {
        font-size: 140px;
    }
}

.not-found__subtitle {
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .not-found__subtitle {
        font-size: 16px;
    }
}

.not-found__link {
    all: unset;
    display: block;
    color: #4285F4;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 184px auto 0;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .not-found__link {
        font-size: 14px;
    }
}